# -----------------------------------------------------------------
# .gitignore for SQL Change Automation
# -----------------------------------------------------------------

bin/
obj/
/*.dbmdl
/*.ifm
/*.sqlproj.user